/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 22:49:10
    Author     : LUIS-PEREZ
*/
a{
  width: 100%;
  margin: 10px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
p{
    font-size: 20px;
    text-align: justify;
}
body{
    width: 50%;
    margin: auto;
}
