/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2019, 11:18:51 AM
    Author     : 1017157887
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: lightblue;
    display: flex;
}
nav{
    width: 30%;
    margin: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.formulario {
    width: 40%;
    height: 500px;
    background: lightblue;
}