/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2019, 11:18:51 AM
    Author     : 1017157887
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: lightblue;
    display: flex;
}
nav{
    width: 30%;
    margin: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.main {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 60%;
    height: 80%;
    margin: 5% auto;
}
.main form{
    margin: auto;
    width: 100%;
    padding:10px;
    text-align: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.main h2{
    padding: 10px;
    width: 100%;
    text-align: center;
}
.main form div{
    font-size: 20px;
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.main form div .casilla-input, .casilla-text-area{
    width: 90%;
}
.boton-registrar, .boton-limpiar{
  width: 50%;
  margin: 10px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.boton-limpiar {
    background: aqua;
}
.formulario input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}